:root {
  --primary-color: rgba(37, 37, 37, 0.4);
  --menu-speed: 0.6s;
  --background-img1: url("imgs/showcase-background.jpg") no-repeat center
  center/cover;
  --background-img2: url("imgs/live-background.jpg") no-repeat center
  center/cover;
  --background-img3: url("imgs/music-background.jpg") no-repeat center
  center/cover;
  --background-img4: url("imgs/merch-background.jpg") no-repeat center
  center/cover;
  --background-img5: url("imgs/business-background.jpg") no-repeat center
  center/cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;

  body {
    font-family: "Courier New", Courier, monospace;

    .container {
      max-width: 960px;
      margin: auto;
      overflow: hidden;
      padding: 0 3rem;
    }

    .showcase {
      color: white;
      background-color: var(--primary-color);
      height: 100vh;
      position: relative;
    }

    .showcase:before {
      content: "";
      background: var(--background-img1);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .showcase .showcase-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
    }

    .showcase h1 {
      font-size: 2rem;
    }

    .showcase p {
      font-size: 1rem;
      margin-top: 1.4rem;
    }

    .btn {
      display: inline-block;
      border: none;
      background-color: var(--primary-color);
      color: #fff;
      padding: 0.75rem 1.5rem;
      margin-top: 1rem;
      text-decoration: none;
      transition: opacity 0.5s ease-in;
    }

    .btn:hover {
      opacity: 0.7;
    }

    // LIVE SHOW LIST

    .showlist-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: var(--background-img2);
    }

    .showlist-container .showlist-inner {
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      color: #fff;
    }

    .showlist-container .showlist-inner table {
        background-color: rgba(0, 0, 0, 0.308);
        padding: 5px;
        border-radius: 5px;
    }

    .showlist-container .showlist-inner table tr th {
        font-size: 1.4rem;
        border-bottom: 1px solid #fff;
    }

    .showlist-container .showlist-inner table tr td {
        text-align: center;
    }

    // MUSIC PLAYER

    .music-page-container {
        background: var(--background-img3);
        height: 100vh;
        width: 100vw;
    }

    // MERCH

    .merch-container {
        background: var(--background-img4);
        height: 100vh;
        width: 100vw;
    }

    //BUSINESS

    .business-container {
        background: var(--background-img5);
        height: 100vh;
        width: 100vw;
    }
  }
}
